<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.zeroxiaobai.feishu-docs</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>047FDF7E-A38C-43D4-A1C8-A33C917E7CB7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2C7E4665-05BF-4D27-8528-DAD3834B28E0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2812580E-DF08-4D8D-BBDA-7316CB04FD70</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C92B72AF-C26C-4170-BF10-D6B5479E7C8D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2C7E4665-05BF-4D27-8528-DAD3834B28E0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B737D5AA-A2F2-4CCB-9CC3-A1E9EB776F29</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>40696EA8-29F0-4547-8074-04C152030EAE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2C7E4665-05BF-4D27-8528-DAD3834B28E0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>632ADBB7-B352-426A-84D5-A3FE30918DF5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>83A8FC6A-EA2A-4C8D-8F60-B4E88C12D344</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B737D5AA-A2F2-4CCB-9CC3-A1E9EB776F29</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C768FE06-04BA-41B2-A6C7-53F34A0BE7F1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C768FE06-04BA-41B2-A6C7-53F34A0BE7F1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C8BE36A7-83FB-47E8-9FFF-A4F8A0776C1A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>3C243B5C-5B78-4AE5-9988-7D6510B51194</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D9121C53-4978-45DE-AD33-DA64BACCEB82</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>4CC2A90D-537C-47DB-A03B-49738624D9CB</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>632ADBB7-B352-426A-84D5-A3FE30918DF5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C8BE36A7-83FB-47E8-9FFF-A4F8A0776C1A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>431C06F4-9A5A-473D-94C2-56E58272139F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C92B72AF-C26C-4170-BF10-D6B5479E7C8D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2C7E4665-05BF-4D27-8528-DAD3834B28E0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>zeroxiaobai</string>
	<key>description</key>
	<string>Feishu Docs Search</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Docs</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>C8BE36A7-83FB-47E8-9FFF-A4F8A0776C1A</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>链接已复制</string>
				<key>title</key>
				<string>通知</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>431C06F4-9A5A-473D-94C2-56E58272139F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>dcf</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>加载中...</string>
				<key>script</key>
				<string>$NODE_PATH src/renderList.mjs --favorite {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>飞书收藏文档</string>
				<key>title</key>
				<string>飞书文档</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>047FDF7E-A38C-43D4-A1C8-A33C917E7CB7</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>2812580E-DF08-4D8D-BBDA-7316CB04FD70</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>dc</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>加载中...</string>
				<key>script</key>
				<string>$NODE_PATH src/renderList.mjs --search {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>搜索飞书文档</string>
				<key>title</key>
				<string>飞书文档</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>C92B72AF-C26C-4170-BF10-D6B5479E7C8D</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>D9121C53-4978-45DE-AD33-DA64BACCEB82</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:listRes1}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>copy</string>
						<key>outputlabel</key>
						<string>复制链接</string>
						<key>uid</key>
						<string>3C243B5C-5B78-4AE5-9988-7D6510B51194</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:listRes1}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>open</string>
						<key>outputlabel</key>
						<string>打开链接</string>
						<key>uid</key>
						<string>4CC2A90D-537C-47DB-A03B-49738624D9CB</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>设置</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>C768FE06-04BA-41B2-A6C7-53F34A0BE7F1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>,</string>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>listRes</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>2C7E4665-05BF-4D27-8528-DAD3834B28E0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:listRes2}</string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>B737D5AA-A2F2-4CCB-9CC3-A1E9EB776F29</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>$NODE_PATH src/setting.mjs --{query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>632ADBB7-B352-426A-84D5-A3FE30918DF5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>通知</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>83A8FC6A-EA2A-4C8D-8F60-B4E88C12D344</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>dcs</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>加载中...</string>
				<key>script</key>
				<string>$NODE_PATH src/renderList.mjs --setting {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>设置</string>
				<key>title</key>
				<string>飞书文档</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>40696EA8-29F0-4547-8074-04C152030EAE</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Feishu docs search.

Readme: https://github.com/zeronight/feishu-docs-workflow</string>
	<key>uidata</key>
	<dict>
		<key>047FDF7E-A38C-43D4-A1C8-A33C917E7CB7</key>
		<dict>
			<key>xpos</key>
			<integer>170</integer>
			<key>ypos</key>
			<integer>15</integer>
		</dict>
		<key>2812580E-DF08-4D8D-BBDA-7316CB04FD70</key>
		<dict>
			<key>xpos</key>
			<integer>25</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>2C7E4665-05BF-4D27-8528-DAD3834B28E0</key>
		<dict>
			<key>xpos</key>
			<integer>350</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>40696EA8-29F0-4547-8074-04C152030EAE</key>
		<dict>
			<key>xpos</key>
			<integer>175</integer>
			<key>ypos</key>
			<integer>265</integer>
		</dict>
		<key>431C06F4-9A5A-473D-94C2-56E58272139F</key>
		<dict>
			<key>xpos</key>
			<integer>760</integer>
			<key>ypos</key>
			<integer>15</integer>
		</dict>
		<key>632ADBB7-B352-426A-84D5-A3FE30918DF5</key>
		<dict>
			<key>xpos</key>
			<integer>615</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
		<key>83A8FC6A-EA2A-4C8D-8F60-B4E88C12D344</key>
		<dict>
			<key>xpos</key>
			<integer>760</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
		<key>B737D5AA-A2F2-4CCB-9CC3-A1E9EB776F29</key>
		<dict>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>C768FE06-04BA-41B2-A6C7-53F34A0BE7F1</key>
		<dict>
			<key>xpos</key>
			<integer>490</integer>
			<key>ypos</key>
			<integer>145</integer>
		</dict>
		<key>C8BE36A7-83FB-47E8-9FFF-A4F8A0776C1A</key>
		<dict>
			<key>xpos</key>
			<integer>615</integer>
			<key>ypos</key>
			<integer>15</integer>
		</dict>
		<key>C92B72AF-C26C-4170-BF10-D6B5479E7C8D</key>
		<dict>
			<key>xpos</key>
			<integer>175</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>D9121C53-4978-45DE-AD33-DA64BACCEB82</key>
		<dict>
			<key>xpos</key>
			<integer>615</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>CHROME_PATH</key>
		<string>/Applications/Google Chrome.app/Contents/MacOS/Google Chrome</string>
		<key>NODE_PATH</key>
		<string>/usr/local/bin/node</string>
	</dict>
	<key>version</key>
	<string>2.1.0</string>
	<key>webaddress</key>
	<string>https://zeronight.github.io/</string>
</dict>
</plist>
